body {
    background-color: lightblue;
}
h1 {
    color: brown;
    font-family: 'Arial', sans-serif;
}

p {
    font-size: large;
    color: indigo;
}

h2 {
    color: green;
}

ul, ol, li, th {
    color: darkblue;
}

td {
    color: darkslateblue;
}

button {
    background-color: indianred;
}